@model ControlePagamentoEntidades.Models.PagamentoModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PagamentoModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PagamentoSeq)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PagamentoSeq)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PagamentoData)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PagamentoData)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PagamentoValor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PagamentoValor)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.PagamentoID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
